{% raw %}{% set digitalocean_public_key -%}

{%- endset %}{% endraw %}

{% raw %}{% set digitalocean_private_key -%}

{%- endset %}{% endraw %}

digitalocean:
  personal_access_token: ''
  ssh_key_names: 'Saltmaster'
  public_key: {% raw %}{{ digitalocean_public_key }}{% endraw %}
  private_key: |
      {% raw %}{{ digitalocean_private_key|indent(6) }}{% endraw %}
