{% raw %}{%- set freeipa_admin_password = '{% endraw %}{{ salt['random.get_str'](14){% raw %}' -%}{% endraw %}

master:
  ssh_keys:
    digitalocean_saltmaster:
      public: ''
      private: ''

freeipa:
  ds_password: '{{ salt["random.get_str"](24) }}'
  admin_password: '{% raw %}{{ freeipa_admin_password }}{% endraw %}'

traefik:
  users:
    admin: '{{ salt["random.get_str"](14) }}'
