{% raw %}{% from 'digitalocean_secret.sls' import digitalocean_public_key, digitalocean_private_key %}{% endraw %}
{% raw %}{%- set freeipa_admin_password = '{% endraw %}{{ salt['random.get_str'](14) }}{% raw %}' -%}{% endraw %}

master:
  ssh_keys:
    digitalocean_saltmaster:
      public: {% raw %}{{ digitalocean_public_key }}{% endraw %}
      private: |
          {% raw %}{{ digitalocean_private_key|indent(10) }}{% endraw %}

freeipa:
  ds_password: '{{ salt["random.get_str"](24) }}'
  admin_password: '{% raw %}{{ freeipa_admin_password }}{% endraw %}'

traefik:
  users:
    admin: '{{ salt["random.get_str"](14) }}'
