[Unit]
Description=Slack/IRC Bridge
After=network.target

[Service]
Restart=always
User=slack-irc
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=slack-irc
ExecStart=slack-irc --config /etc/slack-irc.conf.json

[Install]
WantedBy=multi-user.target
