[Unit]
Description=Legacy magbot (based on hubot)
After=network.target

[Service]
Restart=always
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=legacy_magbot
ExecStart=/srv/legacy_magbot/run-bot.sh

[Install]
WantedBy=multi-user.target
